# Application
public/app/plugins/*
!public/app/plugins/.gitkeep
public/app/mu-plugins/*/
public/app/upgrade
public/app/uploads/*
!public/app/uploads/.gitkeep

# WordPress
public/wp

# Dotenv
.env

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep
composer.lock

# Node Package Manager
node_modules

# Vagrant box
.vagrant

# Misc
.DS_store
*.orig
