// Breakpoints
$breakpoints: (
  desktop: 1200px,
  tablet: 940px,
  mobile: 520px
);

// Tweakpoints
$tweakpoints: ();

// Grid
$grid-width: 100%;
$grid-max-width: 1200px;
$grid-columns: 12;
$grid-columns-width: (100 / $grid-columns) !default;

$grid-gutter: (
  desktop: 15px,
  tablet: 15px,
  mobile: 10px
);

$grid-column-gutter: (
  desktop: 15px,
  tablet: 10px,
  mobile: 5px
);

// Typography
$font-family: Helvetica, Arial, sans-serif;
$font-family-alt: Georgia, serif;
$font-size: 10px;

// Easings
$easings: (
  swiftOut: cubic-bezier(0.55, 0, 0.1, 1),
  appleEase: cubic-bezier(0.4, 0.01, 0.165, 0.99),
  appleEaseAlt: cubic-bezier(0.28, 0.11, 0.32, 1)
);

// Colors
$colors: (
  black: #000000,
  white: #ffffff,
  gray900: #101010,
  gray600: #646464,
  gray100: #fefefe,
  orange: #ff5825,
  yellow: #ffcd00,
);
