<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.php$ - [L]
  RewriteRule ^wp-admin$ wp-admin/ [R=301,L]

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d

  RewriteRule ^ - [L]
  RewriteRule ^(wp-(content|admin|includes).*) wp/$1 [L]
  RewriteRule ^(.*\.php)$ wp/$1 [L]
  RewriteRule . index.php [L]
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/x-icon "access plus 1 month"
  ExpiresByType image/svg+xml "access plus 1 month"
  ExpiresByType image/svg "access plus 1 month"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/jpg "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType application/javascript "access plus 1 week"

  <IfModule mod_headers.c>
    Header unset ETag
  </IfModule>
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE application/javascript \
    application/json \
    application/rss+xml \
    application/x-font-ttf \
    application/x-javascript \
    application/xhtml+xml \
    application/xml \
    image/svg+xml \
    image/x-icon \
    text/css \
    text/html \
    text/javascript \
    text/plain \
    text/xml
</IfModule>

<IfModule mod_headers.c>
  <FilesMatch "\.(js|css|xml|gz|html)$">
    Header append Vary: Accept-Encoding
  </FilesMatch>
</IfModule>
