{% extends 'base.twig' %}

{% block content %}

  <div class="construction">
    <h1>Under uppbyggnad</h1>
    <p>Vi jobbar hårt med att få upp webbsverige så snabbt som möjligt.</p>
  </div>

{% endblock %}
